@model SellerModel
@{
    ViewData["Title"] = "View Profile";
    @using DDAC_Assignment_Mining_Commerce.Helper
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    var isCurrentUser = Model.user.ID == HttpContextAccessor.HttpContext.Session.Get<UserModel>("AuthUser").ID;
}

@if (isCurrentUser)
{
    <h1>@ViewData["Title"]</h1>
}

@await Html.PartialAsync("View/User", Model.user)

<h2>@Model.storeName</h2>
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.store_address)</th>
                <td>@Html.DisplayNameFor(model => model.store_address)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.store_contact)</th>
                <td>@Html.DisplayNameFor(model => model.store_contact)</td>
            </tr>
        </table>
    </div>
</div>

@if (isCurrentUser)
{
    <a href="./Edit" class="btn btn-primary">
        Edit Profile
    </a>
}
