@model DDAC_Assignment_Mining_Commerce.Models.ProductModel

<script type="text/javascript">
    function PreviewImage() {
        console.log("here")
        // Where you will display your image
        //var preview = document.querySelector('img');
        var preview = document.getElementById("previewImage");
        // The button where the user chooses the local image to display
        //var file = document.querySelector('input[type=file]').files[0];
        var file = document.getElementById("uploadImage").files[0];
        // FileReader instance
        var reader = new FileReader();

        // When the image is loaded we will set it as source of
        // our img tag
        reader.onloadend = function () {
            preview.src = reader.result;
        }


        console.log(file)
        if (file) {
            // Load image as a base64 encoded URI
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }
</script>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <img src="" class="img-responsive" id="previewImage" width="150"/>
            </div>
            <div class="form-group">
                <input id="uploadImage" type="file" accept="image/png, image/jpg, image/jpeg" name="image" onchange="PreviewImage()" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.productName" class="control-label"></label>
                <input asp-for="@Model.productName" class="form-control" />
                <span asp-validation-for="@Model.productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.productPrice" class="control-label"></label>
                <input asp-for="@Model.productPrice" class="form-control" />
                <span asp-validation-for="@Model.productPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.productQuantity" class="control-label"></label>
                <input asp-for="@Model.productQuantity" class="form-control" />
                <span asp-validation-for="@Model.productQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>