@model DDAC_Assignment_Mining_Commerce.Models.ProductModel
@inject DDAC_Assignment_Mining_Commerce.Services.BlobService _blob 
    <script type="text/javascript">
        function PreviewImage() {
            // Where you will display your image
            //var preview = document.querySelector('img');
            var preview = document.getElementById("previewImage");
            // The button where the user chooses the local image to display
            //var file = document.querySelector('input[type=file]').files[0];
            var file = document.getElementById("uploadImage").files[0];
            // FileReader instance
            var reader = new FileReader();

            // When the image is loaded we will set it as source of
            // our img tag
            reader.onloadend = function () {
                preview.src = reader.result;
            }


            console.log(file)
            if (file) {
                // Load image as a base64 encoded URI
                reader.readAsDataURL(file);
            }
            else {
                preview.src = "";
            }
        }
    </script>

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ID" />
            <div class="form-group">
                <img src="@Url.Content(Model.getProductPicture(_blob))" class="img-responsive" id="previewImage" width="150" />
            </div>
            <div class="form-group">
                <input id="uploadImage" type="file" accept="image/png, image/jpg, image/jpeg" name="image" onchange="PreviewImage()" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.productName" class="control-label"></label>
                <input asp-for="@Model.productName" class="form-control" />
                <span asp-validation-for="@Model.productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.productPrice" class="control-label"></label>
                <input asp-for="@Model.productPrice" class="form-control" type="number" step="any" min=0 />
                <span asp-validation-for="@Model.productPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.productMass" class="control-label"></label>
                <input asp-for="@Model.productMass" class="form-control" type="number" step="any" min=0 />
                <span asp-validation-for="@Model.productMass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.productDescription" class="control-label"></label>
                <textarea asp-for="@Model.productDescription" class="form-control"></textarea>
                <span asp-validation-for="@Model.productDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>