@model BuyerModel
@{
    ViewData["Title"] = "Edit Profile";

    @inject DDAC_Assignment_Mining_Commerce.Services.BlobService _blob;
}

<h1>@ViewData["Title"]</h1>

<script type="text/javascript">
    function PreviewImage() {
        // Where you will display your image
        //var preview = document.querySelector('img');
        var preview = document.getElementById("previewImage");
        // The button where the user chooses the local image to display
        //var file = document.querySelector('input[type=file]').files[0];
        var file = document.getElementById("profile_picture").files[0];
        // FileReader instance
        var reader = new FileReader();

        // When the image is loaded we will set it as source of
        // our img tag
        reader.onloadend = function () {
            preview.src = reader.result;
        }
        if (file) {
            // Load image as a base64 encoded URI
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }
</script>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBuyer" method="post" enctype="multipart/form-data">
            <hr />
            <input type="hidden" asp-for="@Model.ID" />
            <input type="hidden" asp-for="@Model.user.ID" />
            <input type="hidden" asp-for="@Model.user.password" />
            <div class="form-group">
                <img src="@Url.Content(Model.user.getProfilePicture(_blob))" id="previewImage" height="150" width="150" class="rounded-circle" />
                <input id="profile_picture" type="file" accept="image/png, image/jpg, image/jpeg" name="profile_picture" onchange="PreviewImage()" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.fullname"></label>
                <input asp-for="@Model.user.fullname" class="form-control" />
                <span asp-validation-for="@Model.user.fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.email"></label>
                <input asp-for="@Model.user.email" class="form-control" />
                <span asp-validation-for="@Model.user.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.phone"></label>
                <input asp-for="@Model.user.phone" class="form-control" />
                <span asp-validation-for="@Model.user.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.gender"></label>
                <select asp-for="@Model.user.gender" class="form-control">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Others</option>
                </select>
                <span asp-validation-for="@Model.user.gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.address"></label>
                <input asp-for="@Model.address" class="form-control" />
                <span asp-validation-for="@Model.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.shipping_address"></label>
                <input asp-for="@Model.shipping_address" class="form-control" />
                <span asp-validation-for="@Model.shipping_address" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (TempData["edit_status"] != null)
            {
                <div class="text-success">
                    @TempData["edit_status"]
                </div>
            }
            <button type="submit" class="btn btn-primary">Update Profile</button>
            <button asp-action="Password" class="btn btn-secondary">Change Password</button>
        </form>
    </div>
