@model DDAC_Assignment_Mining_Commerce.Models.SellerModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.storeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.storeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.store_address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.store_address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.store_contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.store_contact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
</div>
