@model SellerModel  
@{
    ViewData["Title"] = "Seller Registration";
}
<script type="text/javascript">
    function PreviewImage() {
        // Where you will display your image
        //var preview = document.querySelector('img');
        var preview = document.getElementById("previewImage");
        // The button where the user chooses the local image to display
        //var file = document.querySelector('input[type=file]').files[0];
        var file = document.getElementById("profile_picture").files[0];
        // FileReader instance
        var reader = new FileReader();

        // When the image is loaded we will set it as source of
        // our img tag
        reader.onloadend = function () {
            preview.src = reader.result;
        }
        if (file) {
            // Load image as a base64 encoded URI
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }
</script>

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterSeller" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <img src="~/assets/default_profile.jpg" class="img-responsive rounded-circle" id="previewImage" width="150" height="150"/>
                <input id="profile_picture" type="file" accept="image/png, image/jpg, image/jpeg" name="profile_picture" onchange="PreviewImage()" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.fullname"></label>
                <input asp-for="@Model.user.fullname" class="form-control" />
                <span asp-validation-for="@Model.user.fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.email"></label>
                <input asp-for="@Model.user.email" class="form-control" />
                <span asp-validation-for="@Model.user.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.password"></label>
                <input asp-for="@Model.user.password" class="form-control" />
                <span asp-validation-for="@Model.user.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.phone"></label>
                <input asp-for="@Model.user.phone" class="form-control" />
                <span asp-validation-for="@Model.user.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.gender"></label>
                <select asp-for="@Model.user.gender" class="form-control">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Others</option>
                </select>
                <span asp-validation-for="@Model.user.gender" class="text-danger"></span>
            </div>
            <h3>Store Details</h3>
            <div class="form-group">
                <label asp-for="@Model.storeName"></label>
                <input asp-for="@Model.storeName" class="form-control" />
                <span asp-validation-for="@Model.storeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.store_address"></label>
                <input asp-for="@Model.store_address." class="form-control" />
                <span asp-validation-for="@Model.store_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.store_contact"></label>
                <input asp-for="@Model.store_contact" class="form-control" />
                <span asp-validation-for="@Model.store_contact" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
