@model IEnumerable<DDAC_Assignment_Mining_Commerce.Models.ProductModel>


@{
    ViewData["Title"] = "Cart";
    @inject DDAC_Assignment_Mining_Commerce.Services.BlobService _blob
}


<h1>Cart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productMass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productDescription)
            </th>

            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div width="150">
                        <img src="@Url.Content(item.getProductPicture(_blob))" height="150" width="150" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productMass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productDescription)
                </td>

                <td>
                    <a class="btn btn-secondary" asp-controller="DisplayProduct" asp-action="DeleteOneItem" asp-route-id="@item.ID">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Any())
{
    <a class="btn btn-primary" asp-controller="DisplayProduct" asp-action="Checkout">Checkout</a>

}
