@model IEnumerable<DDAC_Assignment_Mining_Commerce.Models.ProductModel>


@{
    ViewData["Title"] = "Checkout";
}


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPrice)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr> 
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productPrice)
                </td>
               
            </tr>
        }
    </tbody>
</table>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewPay" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Full Name:</label>
                <input placeholder="Enter Name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Phone Number:</label>
                <input placeholder="Enter Phone" class="form-control" />
            </div>
            <div class="form-group">
                <label>Card Number:</label>
                <input placeholder="Enter Card Number" class="form-control" />
            </div>
            <div class="form-group">
                <label>CVC Security Code:</label>
                <input placeholder="Enter CVC" class="form-control" />
            </div>
            <div class="form-group">
                <label>Expiration Year:</label>
                <input placeholder="Enter Expiration Year" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary" asp-area="" asp-controller="DisplayProduct" asp-action="Receipt">Pay</button>
        </form>
    </div>
