@model IEnumerable<DDAC_Assignment_Mining_Commerce.Models.ProductModel>


@{
    ViewData["Title"] = "Receipt";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewPay" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Mine and Shine - Receipt of Purchase</label>
            </div>
            <div class="form-group">
                <label>Items Purchased:</label>
            </div>

        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPrice)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productPrice)
                </td>

            </tr>
        }
    </tbody>
</table>


