@model IEnumerable<SellerModel>
@{
    ViewData["Title"] = "Approve Sellers";
    @inject DDAC_Assignment_Mining_Commerce.Services.BlobService _blob;
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Profile
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storeName)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.store_address)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.store_contact)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seller in Model)
        {
        <tr>
            <td>
                <img src="@Url.Content(seller.user.getProfilePicture(_blob))" height="150" width="150" class="rounded-circle" />
            </td>
            <td>
                <a asp-action="ViewUser" asp-controller="User" asp-route-id="@seller.user.ID">
                    @Html.DisplayFor(modelItem => seller.user.fullname)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => seller.user.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => seller.user.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => seller.storeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => seller.store_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => seller.store_contact)
            </td>
            <td>
                <a asp-controller="Admin" asp-action="ApproveSeller" asp-route-id="@seller.ID" class="btn btn-success"> Approve </a>
            </td>
        </tr>
        }
    </tbody>
</table>